
/*class-1*/
#div-1-main{
	background-color:white;
	width:100vw;
}
/*class-2*/
	#ir-para-avaliaÃ§Ãµes{
		display:inline-block;
		width:95%;
		border:solid 0px red;
		text-align:right;
	}
	/*class-3*/
	#div-1-main-avaliaÃ§Ã£o-do-produto{
		display:flex;
		height:110px;
		width:100%;
		border:solid 0px green;
	}/*class-4*/
	#div-1-main-avaliaÃ§Ã£o-do-produto #img_estrelas{
		display:inline-block;
		width:17vw;
		margin-left:7%;
		margin-top:65px;
	}/*class-5*/
	#div-1-main-avaliaÃ§Ã£o-do-produto #quantidade-de-avaliaÃ§Ãµes{
		display:inline-block;
		font-size:3.2vw;
		color:rgb(0, 51, 198);
		font-family:nunitobold;
	}/*class-6*/
	#div-codigo-do-item{
		display:inline-block;
		width:52%;
		border:solid 0px red;
		text-align:right;
		margin-top:65px;
	}/*class-7*/
	#codigo-do-item{
		font-size:2.8vw;
		color:#999;
		font-style: italic;
	}
	/*class-8*/
#div-1-main-imagens-do-produto{
	display:flex;
	width:100vw;
	height:620px;
	border:solid 0px red;
}
	/*class-9*/
#div-1-main-infos-do-produto{
	display:block;
	width:100%;
}/*class-10*/
	#div-1-main-infos-do-produto #div-nome-do-produto{
		width:95%;
		text-align:left;
	}/*class-11*/
	
	#div-1-main-infos-do-produto #div-preÃ§o-do-produto{
		display:block;
		width:95vw;
		text-align:left;
		color:#1381ce;
		font-family:nunitobold;
	}
	#div-1-main-infos-do-produto #div-preÃ§o-do-produto strong{
		font-size:5.8vw;
		color:rgb(0, 51, 198);
		font-family:nunitobold;
	}
	#div-1-main-infos-do-produto #div-preÃ§o-do-produto span{
		font-family:nunitobold;
		font-size:3.8vw;
		color: #575757;
	}
	/*class-12*/
	#div-1-main-infos-do-produto #div-parcelas-do-produto{
		display:flex;
		width:95vw;
		text-align:left;
		color: #575757;
	}
	#div-1-main-infos-do-produto #div-parcelas-do-produto span{
		font-size:3.3vw;
		font-family:nunitobold;
	}
	/*class-13*/
	#div-1-main-infos-do-produto #div-parcelas-do-produto a{
		font-size:4vw;
		color: #0033c6;
		margin-top:-8px;
		font-family:nunitobold;
	}
/*class-14*/

#div-1-main-botaocomprareretirar{
	width:100%;
}
	#div-1-main-botaocomprareretirar button{
		width:100%;
		outline:0;	
		border-radius:10px;
		border: 0;
	}
	#div-1-main-botaocomprareretirar #botao-comprar{
		color: #fff;
		background: #51a559;
		border: solid 1px #28b542;
		padding: 0 15px;
		text-align: center;
		height: 130px;
		font-family: nunitobold;
		font-size: 4vw;
	}/*class-15*/
	#div-1-main-botaocomprareretirar #botao-retirar{
		color: #fff;
		background: #1381ce;
		border: solid 1px #28b542;
		padding: 0 15px;
		text-align: center;
		height: 130px;
		font-family: nunitobold;
		font-size: 4vw;
	}


#div-1-main-vendidoeentreguepor{
	margin-left:2%;
	width:96%;
}
	#div-1-main-vendidoeentreguepor span{
		color:#333;
		font-size:3.8vw;
		font-family:nunito;
	}
/*class-16*/
#div-3-main{
 width:100vw;
 background-color:white;
}
	#div-3-main #div-3-main-titulo{
		text-align:left;
		background-color:#f9fafc;
	}
	
		#div-3-main #div-3-main-ofertas{
			width:100%;
			border-top:solid 1px #e4ebf1;
			border:solid 1px red;
		}
			#div-3-main #div-3-main-ofertas #ofertalojista1{
				display:flex;
				width:88%;
				text-align:left;
				padding:3vh;
			}/*class-17*/
			#div-3-main #div-3-main-ofertas #ofertalojista2{
				display:flex;
				width:88%;
				text-align:left;
				padding:3vh;
			}
			#div-3-main #div-3-main-ofertas h1{
				color:#1381ce;
				font-family:nunitobold;
				font-size:4.3vw;
			}/*class-18*/
			#div-3-main #div-3-main-ofertas span{
				color:#333;
				font-family:nunito;
				font-size:3.7vw;
			}
			#div-3-main #div-3-main-ver-todos-os-lojistas{
				background-color:white;
				text-align:center;
				color:#1381ce;
				font-family:nunitobold;
				font-size:2vw;
			}
		


#div-4-main{
	margin-left:2%;
	width:96%;
	background-color:#fff;
}
	#div-4-main #div-4-main-titulo{
		width:100%;
		text-align:left;
		background-color:#fff;
	}
	#div-4-main #div-4-main-detalhes{
		background-color:white;
		width:100%;
		text-align:left;
		font-size:4vw;
		}/*class-19*/
	#div-4-main #div-4-main-ver-mais-detalhes{
		background-color:white;
		text-align:center;	
	}
	#div-4-main #div-4-main-ver-mais-detalhes #ver-mais-detalhes{
		color:#0033c6;
		font-family:nunitobold;
		font-size:4vw;
		}

/*class-20*/
#div-5-main{
	margin-left:2%;
	width:96%;
	background-color:#fff;
}
	#div-5-main #div-5-main-titulo{
		width:100%;
		text-align:left;
		background-color:#fff;
	}
	#div-5-main #div-5-main-titulo h1{
		margin-left:3.7vw;
		color:#0033c6;
		font-size:4.9vw;
		font-family:nunitobold;
	}
	#div-5-main #div-5-main-caracteristicas{
		font-size:3.5vw;
	}
	#div-5-main #div-5-main-caracteristicas h6{
		font-size:3.5vw;
	}
	#div-5-main #div-5-main-ver-maisc{
		background-color:white;
		text-align:center;
		color:#0033c6;
		font-family:nunitobold;
		font-size:2vw;
	}

#div-6-main{
	margin-left:2%;
	width:96%;
	background-color:white;
}
	#div-6-main #div-6-main-titulo{
		width:100%;
		text-align:left;
		background-color:#fff;
	}
	#div-6-main #div-6-main-titulo h1{
		margin-left:3.7vw;
		color:#0033c6;
		font-size:4.9vw;
		font-family:nunitobold;
	}/*class-21*/
	#div-6-main #div-6-main-avaliaÃ§Ãµes{
		font-size:3.5vw;
		border-top:solid 2px #e4ebf1;
	}
	#div-6-main #div-6-main-avaliaÃ§Ãµes #notaeavaliaÃ§Ãµes{
		display:flex;
		text-align:left;
		width:95%;
	}
	#div-6-main #div-6-main-avaliaÃ§Ãµes #notaeavaliaÃ§Ãµes h1{
		font-family:nunito;
		color:#0033c6;
	}
	#div-6-main #div-6-main-avaliaÃ§Ãµes #notaeavaliaÃ§Ãµes span{
		color:#666;
		margin-top:4vw;
		margin-left:8vw;
	}
	#div-6-main #div-6-main-avaliaÃ§Ãµes #composiÃ§Ã£o-da-nota{
		width:95%;
		text-align:left;
	}
	#div-6-main #div-6-main-avaliaÃ§Ãµes #composiÃ§Ã£o-da-nota h1{
		font-family:nunitobold;
		font-size:4.5vw;
	}
	#div-6-main #div-6-main-avaliaÃ§Ãµes #imagens-da-nota{
		display:block;
		width:95%;
		text-align:left;
		color:#666;
	}
	#div-6-main #div-6-main-avaliaÃ§Ãµes #imagens-da-nota span{
		margin-top:1vh;
	}

/*class-23*/

#div-7-main{
	margin-left:2%;
	width:96%;
	background-color:white;
	
}
	#div-7-main #div-7-main-titulo{
		background-color:#f9fafc;
		color:#0033c6;
		font-size:3vw;
		font-family: nunitobold;
	}
	#div-7-main #div-7-main-area-de-pesquisa{
		width:100%;
		border:solid 0px blue;
	}
	#div-7-main #div-7-main-area-de-pesquisa #tirar-duvida{
		width:77vw;
		color:green;
		height:120px;
		border-radius:5px 0 0 5px;
		font-size:3.5vw;
		border:solid 2px rgba(0,0,0,0.1);
		border-right:0;
		}
	#div-7-main #div-7-main-area-de-pesquisa img{
		width:8vw;
		height:80px;
		padding:20px;	
		border-radius:0 5px 5px 0;	
		border:solid 2px rgba(0,0,0,0.1);
		border-left:0;
		margin-left:-0px;
	}
	#div-7-main #div-7-main-perguntas{
		width:100%;
	}
	#div-7-main #ver-mais-perguntas{
		background-color:white;
		text-align:center;
		color:#0033c6;
		font-family:nunitobold;
		font-size:4vw;
	}
	#div-7-main #div-7-main-faÃ§a-uma-pergunta{
		width:100%;
		background-color:#EFF2F5;
	}
	#div-7-main #div-7-main-faÃ§a-uma-pergunta #faÃ§a-uma-pergunta{
		background-color: #2A7BBF;
		border: 0;
		border-radius: 8px;
		color: white;
		padding:30px;
		font-size:3vw;
	}


#div-8-main{
	margin-left:2%;
	width:96%;
	background-color:#f9fafc;
	border:solid 0px red;
	padding-left:2.5vw;
	padding-right:2.5vw;
}
	#div-8-main #ver-outros-produtos{
		display:flex;
		border:solid 1px #999;
		padding:38px;
		background-color:white;
	}	
	#div-8-main #ver-outros-produtos span{
		font-size:4.5vw;
		-webkit-border-radius:10px;
	}
	#div-8-main #apos-visitar-clientes-compram{
		display:flex;

	}	/*class-24*/
	#div-8-main #apos-visitar-clientes-compram span{
		font-size:4.5vw;
		color: #0033c6;
		font-family:nunitobold;
	}

a{
 text-decoration:none;
 cursor:pointer;
 list-style-type:none;
}
.img-expanded {
 height:auto;
 vertical-align:middle;
 width:100%
}

.prod{
border:solid 0px red;
}
.prod-one-tile-view .prod-detail-label,.prod-one-tile-view .prod-item-label,.prod-two-tiles-view .prod-detail-label,.prod-two-tiles-view .prod-item-label {
 display:block;
 display:-webkit-box;
 overflow:hidden;
 text-overflow:ellipsis;
 -webkit-box-orient:vertical;
 white-space:normal;

}

/*titulo do produto*/
.prod-item-label {
display:block;
 color:#333;
 font-size:3vw;
 height:100px;
 padding:10px;
 margin-top:35px;
}

/*imagem do produto*/
.prod-imgs,.prod-item-img {
 margin:auto;
 position:relative;
 width:70%;

}
/*PREÃ‡O ORIGINAL DO PRODUTO*/
.prod-discount-disclaimer,.prod-item-caption {
 color:#a3adb3;
 margin-top:60px;
 font-size:3vw;
text-align:right;
margin-right:25px;
}
/*preÃ§o do produto*/
.prod-item-price {
text-align:right;
 color:#1381ce;
 margin-top:5px;
 
}
.prod-item-price,.product-price .product-price-installment {
 clear:right;
 font-family:nunitobold;
 font-size:4.5vw;
margin-right:25px;
}
/*parcelas do produto*/
.prod-item-installment {
 color:#0033c6;
 text-align:right;
 white-space:initial;
 font-size:2vw;
 margin-top:10px;
 margin-right:25px;
}

/*CONTAINER DE CADA PRODUTO - apos visitar clientes compraram*/
.tile.tile-bought-flag {
 height:289px;
}

/*CONTAINER DE CADA PRODUTO - quem procura este item, se interessa por*/
.tile {
 padding:15px;
 border:2px solid #e4ebf1;
 background-color:#fff;
 height:600px;
 width:350px;
 
}

/*porcentagem de compras 3%compram...*/
.tile.tile-bought-flag .prod-item-bought-flag {
 padding:5px;
 margin-bottom:5px;
 text-align:center;
 background-color:#0033c6;
}
.tile.tile-bought-flag .prod-item-bought-flag-description {
 font-size:12px;
 color:#fff
}

/*responsavel por mostrar varios produtos com scroll horizontal*/
.carousel {

 font-size:0;
 overflow-x:auto;
 overflow-y:hidden;
 padding:0;
 width:100%;
 white-space:nowrap;
 -webkit-overflow-scrolling:touch;
}

.carousel .carousel-item {
 display:inline-block;
 vertical-align:top;
 width:150px;
 
}

/*distancia entre os produtos*/
.carousel .carousel-item:not(:first-child) {
 margin-left:250px;
}


.col-xs-12 ul li{
	list-style:none;
}
/*IMPORTANTE*/
.yv-qa-answer-show-more {
	display:none;
}

.yv-qa-question-comment {
 margin-bottom:10px;
 display:block;
 font-size:4vw;
 color:#666;

}
.yv-answer-text {
 margin-bottom:0;
 color:#666;
font-size:3.5vw;
}
/*class-25*/
.yv-qa-showanswermain .yv-qa-showavatar {
 float:none!important;
 display:inline-block;
 vertical-align:middle
}
.yv-qa-showanswermain .yv-qa-rightinfo {
 padding:0;
 display:inline-block;
 vertical-align:middle;
 margin-left:0
}
.yv-qa-username {
 color:#8B8B8B;
font-size:3vw;
}
/*class-26*/
.yv-qa-showanswermain .yv-qa-showavatar .yv-store-logo {
 float:none!important
}

.yv-begin-question {
 margin-bottom:20px
}
/*class-27*/
.yv-qa-question-name {
 color:#8B8B8B;
 font-size:3.5vw;
}


.wrapper-custom>div,.wrapper-header>div {
 margin:0;
}


#div-9-main{
	margin-left:2%;
	width:96%;
}
	#div-9-main #div-9-main-titulo{
		width:100%;
		text-align:center;
		color:#333;
		font-size:4.3vw;
	}
	

#div-10-main{
	margin-left:2%;
	width:96%;
}
	#div-10-main #div-10-main-menu{
		width:95%;
		text-align:left;
		color:#0033c6;
	}
	#div-10-main #div-10-main-item1{
		border:solid 2px #e4ebf1;
		border-bottom:0;
		display:flex;
		padding:40px;
		font-size:4.5vw;
		background-color:#fff;
	}
	#div-10-main #div-10-main-item2{
		border:solid 2px #e4ebf1;
		border-bottom:0;
		display:flex;
		padding:40px;
		font-size:4.5vw;
		background-color:#fff;
	}
	#div-10-main #div-10-main-item3{
		border:solid 2px #e4ebf1;
		display:flex;
		padding:40px;
		font-size:4.5vw;
		background-color:#fff;
	}
/*class-28*/
